body {
  background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1411/Forest_wildflowers-Windows_10_HD_Wallpaper_1366x768.jpg)
}
body {
  background-attachment: scroll
}
.header {
  text-align: center;
  padding: 20px;
}
h1{
  color:white;
  font-size: 70px
}

h2 {
  text-align: center;
}

.header2 {
  border: 1px solid black;
  padding: 20px 55px 75px 100px;
  background-color: #C1FAB7;
}
